[submodule "ICD.Common.Utils"]
	path = ICD.Common.Utils
	url = ../../Common/Utils
	branch = dev
[submodule "ICD.Common.Logging"]
	path = ICD.Common.Logging
	url = ../../Common/Logging
	branch = dev
[submodule "ICD.Connect.API"]
	path = ICD.Connect.API
	url = ../../Connect/API
	branch = dev
[submodule "ICD.Connect.Devices"]
	path = ICD.Connect.Devices
	url = ../../Connect/Devices
	branch = dev
[submodule "ICD.Connect.Protocol"]
	path = ICD.Connect.Protocol
	url = ../../Connect/Protocol
	branch = dev
[submodule "ICD.Connect.Settings"]
	path = ICD.Connect.Settings
	url = ../../Connect/Settings
	branch = dev
[submodule "ICD.Connect.Routing"]
	path = ICD.Connect.Routing
	url = ../../Connect/Routing
	branch = dev
[submodule "ICD.Connect.Misc"]
	path = ICD.Connect.Misc
	url = ../../Connect/Misc
	branch = dev
[submodule "ICD.Connect.Conferencing"]
	path = ICD.Connect.Conferencing
	url = ../../Connect/Conferencing
	branch = dev
[submodule "ICD.Connect.Scheduling"]
	path = ICD.Connect.Scheduling
	url = ../../Connect/Scheduling
	branch = dev
[submodule "ICD.Connect.Audio"]
	path = ICD.Connect.Audio
	url = ../../Connect/Audio
	branch = dev
[submodule "ICD.Connect.Rooms"]
	path = ICD.Connect.Rooms
	url = ../../Connect/Rooms
	branch = dev
[submodule "ICD.Connect.UI"]
	path = ICD.Connect.UI
	url = ../../Connect/UI
	branch = dev
[submodule "ICD.Connect.Panels"]
	path = ICD.Connect.Panels
	url = ../../Connect/Panels
	branch = dev
[submodule "ICD.Connect.Analytics"]
	path = ICD.Connect.Analytics
	url = ../../Connect/Analytics
	branch = dev
[submodule "ICD.Connect.Displays"]
	path = ICD.Connect.Displays
	url = ../../Connect/Displays
	branch = dev
[submodule "ICD.Connect.Sources"]
	path = ICD.Connect.Sources
	url = ../../Connect/Sources
	branch = dev
[submodule "ICD.Connect.Lighting"]
	path = ICD.Connect.Lighting
	url = ../../Connect/Lighting
	branch = dev
[submodule "ICD.Connect.Krang"]
	path = ICD.Connect.Krang
	url = ../../Connect/Krang
	branch = dev
[submodule "ICD.Common.Permissions"]
	path = ICD.Common.Permissions
	url = ../../Common/Permissions
	branch = dev
[submodule "ICD.Connect.Partitions"]
	path = ICD.Connect.Partitions
	url = ../../Connect/Partitions
	branch = dev
